<h3 class="fw-bold fs-5">Lista de vinos</h3>
<table class="table text-center mt-5">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Cepa</th>
            <th>Bodega</th>
            <th>Precio</th>
            <th>Stock</th>
            <th>Imagen</th>
            <th>Cantidad</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @for (vino of vinos; track vino.nombre) {
        <tr [ngClass]="{'liquidacion':vino.liquidacion}">
            <td>{{vino.nombre}}</td>
            <td>{{vino.cepa}}</td>
            <td>{{vino.bodega}}</td>
            <td>{{vino.precio | currency}}</td>
            @if (vino.stock > 0) {
            <td>{{vino.stock}}</td>
            } @else {
            <td><span class="badge text-bg-warning">Sin Stock</span></td>
            }
            <td><img [src]="vino.imagen" [alt]="vino.nombre"></td>
            <td>
                @if (vino.stock >0) {
                <app-input-cantidad 
                    [(cantidad)]="vino.cantidad" 
                    [max]="vino.stock"
                    (maximoAlcanzado)="maximoAlcanzado($event)">
                </app-input-cantidad>
                }
            </td>
            <td>
                <button class="btn btn-secondary" (click)="agregarAlCarrito(vino)" [disabled]="vino.stock == 0" >Comprar</button>
            </td>
        </tr>
        }
    </tbody>
</table>

@if (mensajeMostrado) {
  <div class="notificacion-flotante">
    {{ mensajeMostrado }}
  </div>
}