img {
  max-width: 80px;
  height: auto;
}
.liquidacion {
    border: solid 2px  #856404;
}
.liquidacion td {
    color: #856404;
    font-weight: bold;
    background-color: #fff3cd
}
input {
  width: 40px;
  display: inline-block;
  text-align: center;
}
td {
  vertical-align: middle;
}
