img {
  width: 80px;
  height: 60px;
  object-fit: cover;
  object-position: center;
  overflow: hidden;
}
.liquidacion {
    border: solid 2px  #856404;
}
.liquidacion td {
    color: #856404;
    font-weight: bold;
    background-color: #fff3cd
}
td {
  vertical-align: middle;
}
.notificacion-flotante {
  position: fixed;
  top: 50px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #f39c12;
  color: #fff;
  padding: 12px 24px;
  border-radius: 8px;
  font-weight: bold;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  opacity: 1;
  transition: opacity 0.5s ease;
}
